schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="movie">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:short" name="year"/>
              <xs:element name="genres">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="genre"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="mpaa_rating"/>
              <xs:element type="xs:byte" name="runtime"/>
              <xs:element type="xs:string" name="critics_consensus"/>
              <xs:element name="ratings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="critics_rating"/>
                    <xs:element type="xs:byte" name="critics_score"/>
                    <xs:element type="xs:string" name="audience_rating"/>
                    <xs:element type="xs:byte" name="audience_score"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="synopsis"/>
              <xs:element name="abridged_cast">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cast">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element name="characters">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="character"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="abridged_directors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="director">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="studio"/>
              <xs:element name="reviews">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="review">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="critic"/>
                          <xs:element type="xs:date" name="date"/>
                          <xs:element type="xs:string" name="original_score"/>
                          <xs:element type="xs:string" name="freshness"/>
                          <xs:element type="xs:string" name="publication"/>
                          <xs:element type="xs:string" name="quote"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>